.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  /* align-items: center; */
}

/* .input .placeholder {
    padding: 0.8rem;
    font-size: 1rem;
    margin-top: 0.5rem 
} */

.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  /* align-items: center; */
}

.info label {
  font-family: "Inter", sans-serif;
  color: #474747;
  font-weight: 700;
}

.info input {
  background-color: rgba(219, 219, 219, 0.411);
  border: 0;
  border-radius: 8px;
  padding: 16px;
}
