@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.productListing {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Limite de quatro colunas*/
    gap: 16px
}   

/* .article {
    border: 1px solid #ccc;
} */
