.product-listing-container {
  display: flex; /* Flexbox para alinhar os itens lado a lado */
  gap: 20px; /* Espaçamento entre os componentes */
  justify-content: space-between; /* Para distribuir os itens de maneira uniforme */
  /* align-items: flex-start; Alinha os itens no topo */
  /* padding: 20px; */
}

.FilterGroup {
  /* width: 50%; Ajuste o tamanho do filtro conforme necessário */
}

.ProductListing {
  /* width: 50%; Ajuste o tamanho da lista de produtos conforme necessário */
}
