.titulo {
  margin-bottom: 20px;
  color: #474747;
  font-size: 24px;
}


.filterGrupo {
  width: 19.5rem;
  height: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-left: 90px;
}

.filterGrupo h3 {
  font-size: 16px;
}

.filterGrupo hr {
  margin-bottom: 20px;
}

.filterGrupo h3 {
  margin-bottom: 20px;
  color: #474747;
}

.filterGrupo ul {
  list-style: none;
  color: #474747;
}

.filterGrupo li {
  margin-right: 0.5rem;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  color: #474747;
}

.filterGrupo input[type="checkbox"],
.filterGrupo input[type="radio"] {
  width: 22px;
  height: 22px;
  accent-color: #c92071;
  margin-right: 5px;
}

.container {
  display: flex;
  /* justify-content: space-between; */
}