.top-finalizar {
  margin-bottom: 80px;
  margin-top: 40px;
}


.margin-finalizar {
  margin: 0 auto;
  max-width: 600px;
}

.form-finalizar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-content h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-content hr {
  margin-bottom: 20px;
}

.button-finalizar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-finalizar button {
  background-color: var(--cor-warning);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-finalizar button:hover {
  background-color: var(--cor-warning-dark);
}

.finalizar-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.margin-finalizar {
  flex: 1;
}

.resumo-container {
  flex: 0 0 300px;
}

.form-finalizar-container {
  margin-top: 100px;
}