
.carrinho-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.produtos-carrinho {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.produto-carrinho {
  display: flex;
  gap: 20px;
  border: 1px solid var(--cor-light-gray-2);
  padding: 10px;
  border-radius: 8px;
}

.produto-imagem {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.produto-detalhes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.total-carrinho {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.finalizar-compra {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--cor-primary);
  color: var(--cor-white);
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.finalizar-compra:hover {
  background-color: var(--cor-tertiary);
}
