.article {
  display: flex;
  flex-direction: column;
  width: 292px;
  margin-bottom: 1rem;
}

.containerImg {
  width: 292px;
  height: 280px;
  margin-bottom: 1rem;
}

.containerImg img {
  width: inherit;
  height: inherit;
  position: absolute;
  box-shadow: 1px 1px 15px 1px #00000021;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.containerImg .off {
  display: flex;
  position: relative;
  top: 16px;
  color: #474747;
  background-color: #e7ff86;
  border-radius: 8px;
  width: 6.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inter", sans-serif;
  left: 13px;
}

.sectionCard h4 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 0.3rem;
  left: 0%;
}

.sectionCard h5 {
  color: #474747;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
  word-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.priceCard {
  display: flex;
  gap: 1rem;
}

.preco {
  text-decoration: line-through;
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #474747;
}

.precoDesconto {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 22px;
  color: #000000;
}

.sectionCard p {
  font-family: "Inter", sans-serif;
}


/* 
.article {
  display: flex;
  flex-direction: column;
  width: 292px;
  margin-bottom: 1rem;
}

.containerImg {
  width: 292px;
  height: 321px;
  margin-bottom: 1rem;
}

.containerImg img {
  width: inherit;
  height: inherit;
  box-shadow: 1px 1px 15px 1px #00000021;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.off {
  position: absolute;
  top: 16px;
  left: 13px;
  color: #474747;
  background-color: #e7ff86;
  border-radius: 8px;
  width: 6.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionCard h5 {
  color: #474747;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 1rem;
}

.priceCard {
  display: flex;
  gap: 1rem;
}

.preco {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #474747;
}

.preco.risco {
  color: #b0b0b0;
  text-decoration: line-through;
}

.precoDesconto {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #000000;
} */
