

.bar {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  height: 2rem;
}

.search-bar {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 30px 0px 30px 20px;
  border: none;
  background-color: var(--cor-light-gray-3);
  border-radius: 5px;
  width: 40%;
  outline: none;
}

.search-bar::placeholder {
  color: #999;
}

.cadastro {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 0.2rem 1rem;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: var(--cor-dark-gray-2);
  background-color: transparent;
}

.button-primary {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  padding: 0.75rem 2.3rem;
  background-color: var(--cor-primary);
  color: var(--cor-light-gray-3);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
}
