
/* Cards de destaque */
.cards-destaque {
  /* text-align: center; */
  /* padding: 20px; */
  margin-left: 3.45%;
  margin-right: 3.45%;
}

.cards-destaque h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  /* text-align: center; */
  color: var(--cor-dark-gray-2);
}

.cards-container {
  display: flex;
  /* gap: 20px; */
  justify-content: center;
  /* width: 405px; */
  height: 251px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-color: var(--cor-white);
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin: 20px 0;
  font-size: 18px;
}

.card button {
  background-color: var(--cor-white);
  color: var(--cor-primary);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: auto; /* Empurra o botão para o final do card */
}

/* COLEÇÃO DESTAQUE 2 */

/* .card2 {

}

.card-tech2 {

} */

.cards-destaque2 {
  margin-left: 3.45%;
  margin-top: 100px;
  margin-bottom: 100px;
}



.cards-destaque2 h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--cor-dark-gray-2);
  justify-content: center;
  display: flex;
}

.cards-container2 {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button {
  background-color: var(--cor-white);
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon-button img {
  width: 60px;
  height: 100px;
}

.icon-button:hover{
  background-color: var(--cor-tertiary);
}

