.buy-box-container {
    align-self: flex-start;
}

.buy-box-container > .buy-box-header {
    max-width: 440px;
}

.buy-box-container > .buy-box-header > h1 {
    font-size: 32px;
    font-weight: 800;
    color: var(--dark-gray);
}

.buy-box-container > .buy-box-header > h2 {
    font-size: 12px;
    font-weight: 500;
    margin: 10px 0;
    color: var(--dark-gray-3);
}

.buy-box-container > .buy-box-header > section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.buy-box-container > .buy-box-header > section > span:nth-child(2) {
    background-color: var(--warning);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0px 25px;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}

.buy-box-container > .buy-box-header > section > span:nth-child(2) img {
    height: max-content;
}
.buy-box-container > .buy-box-header > section > span:nth-child(2) p {
    position: relative;
    top: 9px;
}

.buy-box-container > .buy-box-header > section > span:last-child {
    color: var(--light-gray);
    font-weight: 500;
    font-size: 14px;
}

.buy-box-container > .buy-box-main {
    margin: 20px 0;
}

.buy-box-container > .buy-box-main > h3 {
    font-weight: 700;
    color: var(--light-gray) !important;
}

.buy-box-container > .buy-box-main > p:first-child {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
}

.buy-box-container > .buy-box-main > p:first-child > span:first-child {
    color: var(--dark-gray-2);
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.buy-box-container > .buy-box-main > p:last-child {
    max-width: 500px;
    color: var(--dark-gray-2);
}

.buy-box-container > .buy-box-main > p:first-child > span:first-child > div {
    font-size: 16px;
    position: relative;
    bottom: -5px;
    font-weight: 500;
}

.buy-box-container > .buy-box-main > p:first-child > span:last-child {
    font-size: 16px;
    position: relative;
    bottom: -3px;
    font-weight: 400;
    text-decoration: line-through;
    color: var(--light-gray-2);
}

.buy-box-container > .buy-box-main > h3 {
    color: var(--dark-gray-2);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.buy-box-container > .buy-box-main > p:last-child {
    font-size: 14px;
    color: var(--dark-gray-2);
    font-weight: 500;
}

.buy-box-footer > button {
    color: white;
    background-color: var(--warning);
    border: none;
    padding: 10px 80px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 40px;
    border-radius: 7px;
    transition: all 0.3s ease;
}

.buy-box-footer > button:hover {
    background-color: #cf8900;
}
