/* Estilos para o componente FormFinalizar */
.top-finalizar {
  margin-bottom: 20px;
}

.form-finalizar-container {
  margin: 0 auto;
  max-width: 600px;
}

.form-finalizar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-content h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.form-content hr {
  margin-bottom: 20px;
}

.button-finalizar {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button-finalizar button {
  background-color: var(--cor-warning);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.button-finalizar button:hover {
  background-color: var(--cor-warning-dark);
}

/* Estilos para o componente ResumoCompra */
.resumo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  margin-left: 20px;
  margin-right: 60px;
  margin-top: 100px;
  height: 100%;
}

.resumo-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.resumo-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.resumo-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
}

.resumo-title {
  font-size: 16px;
  font-weight: bold;
}

.resumo-pricing p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.resumo-total {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.resumo-parcelas {
  font-size: 14px;
  color: #888;
  margin-top: 5px;
}

.resumo-button {
  background-color: var(--cor-warning);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.resumo-button:hover {
  background-color: var(--cor-warning-dark);
}

/* Estilos para garantir que os componentes fiquem lado a lado */
.finalizar-compra-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.form-finalizar-container {
  flex: 1;
}

.resumo-container {
  flex: 0 0 300px;
}