header {
  margin-top: 40px;
}

header nav {
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 3.45%;
  margin-bottom: 30px;
}

.nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
}

.nav ul li a {
  text-decoration: none;
  color: var(--cor-dark-gray-2);
  /* font-weight: 500; */
}

.nav ul li a.active {
  color: #d2006a;
  text-decoration: underline;
  font-weight: bold;
}

.nav ul li a:hover {
  color: var(--cor-primary);
}