ProdutoLaye {
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    background-color: white;
}

.oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #4200ff40, 10%, #ffffff);
    border-radius: 100%;
    width: 466px;
    height: 466px;
}

.oferta img {
    width: 100%;
    height: 100%;
    transform: scale(1.2);
}

#laye button {
    background-color: #c92071;
    width: 200px;
    height: 40px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px; 
    transition: all 0.3s ease;
}

#laye button:hover {
    background-color: var(--tertiary);
}

#laye a {
    color: rgb(95, 0, 63);
    text-decoration: none;
}
#laye strong {
    color: #c92071;
}
#laye h1 {
    font-weight: bold;
    max-width: 500px;
}

#laye p {
    max-width: 400px;
}