footer {
  background-color: #0f0f0f;
}

.footer {
  background-color: #0f0f0f;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-logo,
.footer-links,
.footer-contact {
  flex: 1;
  margin: 10px;
}

.footer-logo h2 {
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li a {
  color: white;
  text-decoration: none;
}

.footer-contact p {
  margin: 5px 0;
}

.redesLogo {
  display: flex;
  gap: 30px;
  padding-top: 20px;
}

.footer-social a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

.digcoll {
  text-align: center;
  color: white;
}
