body {
  font-family: "Inter";
  font-size: 16px;
  color: var(--cor-texto);
  margin: 0px 100px 0px 100px;
}

/* .section-container {
  } */

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  color: var(--cor-dark-gray-2);
}

.section-select,
option {
  /* background-color: none; */
  border: none;
  outline: none;
  font-size: 16px;
}

.section-select {
  width: 9rem;
  background-color: var(--cor-light-gray-3);
  color: var(--cor-dark-gray-2);
}

.section-select:focus {
  box-shadow: none;
  border: none;
}

.section-label {
  font-size: 16px;
  color: var(--cor-dark-gray-2);
  font-weight: bold;
}

.section-order {
  border: solid 0.1px var(--cor-dark-gray-2);
  border-radius: 0.3rem;
  padding: 10.5px;
  background-color: var(--cor-light-gray-3);
}
