:root {
  /* Escala de cores coloridas */
  --cor-01: #c92071;
  --cor-02: #b5b6f2;
  --cor-03: #991956;
  --cor-error: #ee4266;
  --cor-sucess: #52ca76;
  --cor-atencao: #f6aa1c;
  /* Escala de cinza */
  --cor-dark-gray: #1f1f1f;
  --cor-dark-gray-2: #474747;
  --cor-dark-gray-3: #666666;
  --cor-light-gray: #8f8f8f;
  --cor-light-gray-2: #cccccc;
  --cor-light-gray-3: #f5f5f5;
  --cor-branco: #ffffff;
}
